/* Importados */
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,800;1,500&family=Rubik:wght@300&display=swap");

* {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

body {
  background: rgb(33,100,125);
  background: linear-gradient(0deg, rgba(33, 100, 125, 1) 0%, rgba(0, 59, 83, 1) 100%);
  background-size: cover;
  backdrop-filter: blur;
  background-repeat: no-repeat;
}

h1 {
  font-weight: 1200;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px #003c53;
}

h2 {
  font-weight: 1200;
  color: white;
  font-size: 30px;
  text-shadow: 4px 4px #003c53;
}

h4 {
  font-weight: 1200;
  color: white;
  font-size: 15px;
  text-shadow: 4px 4px #003c53;
  text-align: justify;
}

li {
  font-weight: 1200;
  color: white;
  font-size: 20px;
  text-shadow: 4px 4px #003c53;
}

p {
  font-weight: 800;
  color: white;
  font-size: 20px;
}

.contentIndex {
  padding: 20px;
}

.navButtons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.navButtons > button {
  /* tamaño y estilo de texto */
  font-size: 25px;
  width: 150px;
  height: 50px;
  color: #003c53;
  /* ajuste de posicion */
  margin: 10px;
  /* estilo al boton */
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(83, 109, 254, 0.5) 0 2px 4px,
    rgba(83, 109, 254, 0.5) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.navButtons > button:hover {
  box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
    rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.navButtons > button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(3px);
}

.info {
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
  color: white;
}

.infoHtml {
  grid-column: 2;
}

.infoCss {
  grid-column: 4;
}

.gridInfo {
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
}

.parrafo1 {
  grid-column: 2;
  color: white;
}

.infoPHtml {
  font-size: 15px;
  grid-column: 2;
}

.parrafo2 {
  grid-column: 4;
  color: white;
}

.infoPCss {
  font-size: 15px;
  grid-column: -1;
}
