@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,800;1,500&family=Rubik:wght@300&display=swap");

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-family: "Nunito", sans-serif;
}
h1 {
  color: rgb(8, 8, 110);
  font-size: 40px;
  width: 70%;
  padding: 10px;
  margin: auto;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 27ch;

  animation: typing 5s steps(27), 
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {width: 0;}
}
@keyframes blink{
  50% {border-color: transparent;}
}
h2 {
  font-size: 30px;
  text-shadow: 4px 4px rgb(13, 128, 186);
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  color: #fff;
  text-align: center;
}
p {
  color: aliceblue;
  text-align: justify;
  width: 70%;
  padding: 10px;
  margin: auto;
}
.imagen {
  display: flex;
  justify-content: center;
}
h3{
  font-size: 25px;
  color:yellowgreen;
  width: 70%;
  padding: 10px;
  margin: auto;
}
h4{
  color:yellow;
  width: 70%;
  padding: 10px;
  margin: auto;
}
span{
  color:azure
}
.codigo{
  color: grey;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}